################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PKI
/x64/Debug
/TestClient.vcxproj.user
/x64/Release
